body{
    background: linear-gradient(to bottom, rgb(0, 0, 175), rgb(114, 114, 255), rgb(199, 199, 247));
    width: 100vw;
    height: 100vh;
    overflow: hidden; /*adds scroll bar  to page if not hidden*/
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collisionCanvas{
    opacity: 0;
}